.sidenav {
    height: 100%; /* 100% Full-height */
    width: 350px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top:  50px;
    right: -360px;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 1020;
}

.sidenav .open {
    box-shadow: 0 -10px 10px rgba(0,0,0,0.25);
}

#helpbox {
    position: fixed;
    top: 50%;
    right: 0;
    width: 70px;
    height: 30px;
    padding: 5px;
    transform: translate3d(50%,-50%,0) rotate(270deg) translateY(-50%);
    text-align: center;
    border-radius: 8px 8px 0 0;
    transition: 0.5s;
    z-index: 2;
    box-shadow: -4px 0px 8px rgba(0,0,0,.4); /* coordinates are pre rotation */
}
